<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/460bb7f352.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5">
        <h3>Projet de mise en place d'une application web avec le Framework Django{{ msg }}</h3>
        <h1>Raccourcisseur d'URL</h1>
        <form class="my-5" method="get">
            <div class="form-group">
              <label for="exampleFormControlInput1">Veuillez écrire l'URL à raccourcir</label>
              <input type="url" class="form-control" id="url" name="url" placeholder="http://facebook.com/ryan.rasoarahona" value="{{ url }}">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" onclick="javascript: document.querySelector('form').submit();"><i class="fas fa-cogs"></i> Générer</button>
            </div>
            <div class="input-group my-3">
              <input type="text" class="form-control" id="short" readonly aria-describedby="button-addon2" value="{{ short }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="copy" onclick="javascript: document.querySelector('#short').select(); document.execCommand('copy');"><i class="fas fa-copy"></i></button>
              </div>
            </div>
        </form>
      </div>
</body>
</html>